<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="signup3" action="/signuppract" method="POST">
    <label for="name">name</label>
    <input type="text" id="name" placeholder="enter the name">
       <label for="Email"><b>Email</b></label>
            <input type="email" name="email" id="Email" placeholder="Email" required>
            <label for="phonenumber"><b>Phone</b></label>
            <input type="number" name="phone" id="phonenumber" placeholder="Mobile" required>
            <label for="Pass"><b>Password</b></label>
            <input type="password" name="password" id="Pass" placeholder="Password" required>
            <input type="submit" name="signup" id="signup2" value="Sign Up Here">
            <a href="#" id="forgot">Forgot Password</a>
    </form>
</body>
</html>